CREATE TABLE event_registrations (id INT AUTO_INCREMENT PRIMARY KEY, event_id INT NOT NULL, student_id INT NOT NULL, company_id INT, registration_date DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP, status ENUM('registered', 'attended', 'cancelled') NOT NULL DEFAULT 'registered', FOREIGN KEY (event_id) REFERENCES events(id) ON DELETE CASCADE, FOREIGN KEY (student_id) REFERENCES students(id) ON DELETE CASCADE, FOREIGN KEY (company_id) REFERENCES companies(id) ON DELETE CASCADE);
